[Unit]
Description=Fan Controller
After=multi-user.target
After=pigpiod.service
[Service]
Type=simple
Restart=always
RestartSec=2
User=pi
ExecStart=/usr/bin/python3 /home/pi/Code/fan_controller/fan_controller.py --min 10 --web
[Install]
WantedBy=multi-user.target
